body {
  background-color: #FFFBF9;
}

h1, h2, h3, h4, h5, h6, p, li.active a {
  color: #FC5700;
  font-family: greycliff-cf, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p, a, li {
  font-weight: 500;
}

a.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFA06E;
  text-decoration: underline;

}
